<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Possible values are: AddVersion, Update, Skip -->
      <setting name="EzImporter.ExistingItemHandling" value="Skip"/>

      <setting name="EzImporter.RootItemQuery" value="/sitecore/content//*"/>

      <setting name="EzImporter.RootMediaItemQuery" value="/sitecore/media library/Master//*[@@name='Products']"/>

      <setting name="EzImporter.MapsLocation" value="/sitecore/system/Modules/Ez Importer//*[@@templatename='ImportMap']"/>
    </settings>
  </sitecore>
</configuration>
