<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Possible values are: AddVersion, Update, Skip -->
      <setting name="EzImporter.ExistingItemHandling" value="Update"/>

      <setting name="EzImporter.RootItemQuery" value="/sitecore/content//*"/>

      <setting name="EzImporter.RootMediaItemQuery" value="/sitecore/media library/Master//*[@@name='Products']"/>

      <setting name="EzImporter.MapsLocation" value="/sitecore/system/Modules/Ez Importer//*[@@templatename='ImportMap']"/>

      <!-- Skip, SetBroken, ??SetEmpty?? CreateItem? -->
      <setting name="EzImporter.InvalidLinkHandling" value="CreateItem"/>

      <setting name="EzImporter.MultipleValuesImportSeparator" value="|"/>
      <setting name="EzImporter.TreePathValuesImportSeparator" value="\"/>
      <setting name="EzImporter.CsvDelimiter" value=","/>

      <setting name="EzImporter.ImportDirectory" value="~/temp/ProductImport"/>
      <setting name="EzImporter.ImportItemsSubDirectory" value="Items"/>
      <setting name="EzImporter.ImportMediaSubDirectory" value="Media"/>
    </settings>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="EzImporter.Pipelines.RegisterHttpRoutes, Sitecore.EzImporter" />
      </initialize>
    </pipelines>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="EzImporterController">EzImporter.Controllers.ImportController, Sitecore.EzImporter</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>
