<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Possible values are: AddVersion, Update, Skip -->
      <setting name="EzImporter.ExistingItemHandling" value="Skip"/>

      <setting name="EzImporter.RootItemQuery" value="/sitecore/content//*[@@templateid='{10B7B021-6EEE-45FE-B7F9-78CED481258C}']//*[@@templateid='{E712AAC6-0710-4850-8A8E-8C9716B63F74}']"/>

      <setting name="EzImporter.RootMediaItemQuery" value="/sitecore/media library/Master//*[@@name='Products']"/>
    </settings>
  </sitecore>
</configuration>
